name: Update Podcasts

on:
  schedule:
    - cron: "55 20 * * *"
  workflow_dispatch:

jobs:
  update:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          persist-credentials: true

      # --------------------------------------------
      # CACHE PERL MODULES
      # --------------------------------------------
      - name: Cache Perl modules
        uses: actions/cache@v4
        with:
          path: |
            ~/perl5
            ~/.cpanm
          key: ${{ runner.os }}-perl-${{ hashFiles('fetch_podcasts.py', 'podcasts.yml') }}
          restore-keys: |
            ${{ runner.os }}-perl-

      - name: Install ffmpeg + AtomicParsley + XML deps
        run:
